.input_field {
    border-radius: 10px;
    padding: 10px;
    border-width: 1px;
    width: 60%;
    height: 55px;
    margin: 10px;
    font-size: 18px;
}

.submit_btn {
    border-radius: 10px;
    padding: 10px;
    border-width: 1px;
    height: 55px;
    background-color: white;
    color: #003B73;
    
}
 
.card {
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    height: auto;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 2px rgba(61, 60, 60, 0.2);
}

.analyzing {
    margin-top: 3.5%;
    font-size: 30px;
    font-weight: bold;
}

.loader {
    width: 100%;
    align-items: center;
    margin-top: 10%;
}

#header {
    border-radius: 15px;
    background-color: #0052CC;
    padding: 30px;
    width: inherit;
    margin-left: 10px;
    user-select: none;
    color: white;
    box-shadow: 0 4px 8px 2px rgba(61, 60, 60, 0.2);

}
.card_row {
    display: flex;
}

.text {
    color: white;
}

.error_msg {
    padding: 15px;
    width: 94vw;
    color: red;
    text-align: center;
}

.div_style {
    display: flex;
    user-select: none;
}

.table_style {
    border-style: solid;
    border-width: 1.5px;
    margin: 5px;
    width: 50%;
    height: 400px;
    overflow: scroll;
    border-radius: 10px;
    border-color: darkslategray;
    user-select: none;
}


.table_header {
    background-color: #0052CC;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.cell {
    padding: 10px;
    margin: 2px;
    font-size: 16px;;
    border-top: solid;
    border-top-width: 1px;
    user-select: none;
}

.parent_card {
    width: inherit;
}

.cell:hover {
    background-color:aliceblue;
}

.plot_container {
    border-style: solid;
    border-width: 1.5px;
    margin: 5px;
    width: 50%;
    border-radius: 10px;
    border-color: darkslategray;
}

.desc {
    padding: 10px;
    margin: 10px;
    font-size: 16px;;
    user-select: none;
    background-color:cornsilk;
    border-radius: 10px;
    width: auto;
}

